<link rel="import" href="../polymer/polymer.html">
<script type="text/javascript" src="../i18next/i18next.js"></script>

<polymer-element name="i18n-filter" attributes="languages, namespaces, locales, initialized cookieConfig">
<script>
	PolymerExpressions.prototype.translate = function (key) {
        return i18n.t(key);
    };
	
	PolymerExpressions.prototype.t = PolymerExpressions.prototype.translate;

	Polymer({
		created: function(){
			this.languages = ["dev"];
			this.namespaces = ["dev"];
			this.locales = "locales/__lng__/__ns__.json";
			this.cookieConfig = { enabled : false };
		},
		
		initialize: function(){
			var i18nConfig = {
				preload: this.languages,
				lng : this.languages ? this.languages[0] : "dev",
				fallbackLng: this.languages ? this.languages[0] : "dev",

				ns: {
					namespaces: this.namespaces,
					defaultNs : this.namespaces ? this.namespaces[0] : "dev"
				},
				fallbackNS: this.namespaces ? this.namespaces[0] : "dev",

				resGetPath: this.locales
			};
				
			i18nConfig.useCookie = this.cookieConfig.enabled;
			if(this.cookieConfig.hasOwnProperty('domain')){
				i18nConfig.cookieDomain = this.cookieConfig.domain;
			}
			if(this.cookieConfig.hasOwnProperty('name')){
				i18nConfig.cookieName = this.cookieConfig.name;
			}
					
			i18n.init(i18nConfig, function(t){ this.fire('init');  }.bind(this));
		},
		
		ready: function(){
			this.initialize();
		}
	});
</script>
</polymer-element>