﻿<link rel="import" href="i18n-filter.html" />

<polymer-element name="i18n-demo">
    <template>
		<i18n-filter 
			languages='["en", "hu"]' 
			namespaces='["dev", "namespace1", "translate"]'
			locales='locales/__lng__/__ns__.json'
			cookieConfig='{ "enabled" : true }'
			on-init='{{i18initHandler}}'/>
        <!--
            Az isReady arra vár, hogy minden függőség betöltődjön, ami jelenleg az i18next
             -->
        <template if="{{isReady}}">
            <pre>
                {{'translate:nav.home' | translate}}
                {{'namespace1:app.name' | t}}
                {{'example' | translate}}
            </pre>
        </template>
    </template>
    <script>
        Polymer({
            isReady: false,
            
			i18initHandler: function(e, detail, sender){
				this.isReady = true;
			}
        });
    </script>
</polymer-element>